body {
	font-family: 'Roboto', sans-serif;
}

.align-right {
	text-align:right;
}

.float-right {
	float:right;
}

.align-center {
	text-align:center;
}

.big-number {
	font-size: 42px;
}

.vertical-center {
	line-height: 60px;
}

#createTextarea {
	height: 300px;
}

#createBinFooter {
	display: none;
}