body {
	font-family: 'Roboto', sans-serif;
}

h6 {
	font-size: 0.4em;
	margin:0;
}

.align-right {
	text-align:right;
}

.float-right {
	float:right;
}

.align-center {
	text-align:center;
}

.big-number {
	font-size: 42px;
}

.vertical-center {
	line-height: 60px;
}

.closeButtonDiv {
	width:20px;
	height:20px;
	font-size:0.5em;
}

.closeButton {
	border-radius: 20%;
	border-color: darkgray;
	border-style: solid;
	border-width: 1px;
}

#createTextarea {
	height: 300px;
}

#createBinFooter {
	display: none;
}

#subtitle {
	text-align:center;
	position:relative;
	top:8px;
	color:silver;
	clear: both;
}

#readTextarea {
	overflow: hidden;
}

#maxChars {
	margin: 0;
	padding: 0;
	float:right;
	position:relative;
	top:10px;
}


@media only screen and (max-width: 575px) {
	#binNumber {
		position: relative;
		top: 8px;
	}
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  #createLoader, #readLoader {
	left: 44%;
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #3498db;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }

  #readLoader {
	  top:10px;
	}
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }